<div class="row">
  <h1><%= @restaurant.name %></h1>
</div>
<div class="row">
  <div class="columns medium-6">
    <p>
    <h4><%= @restaurant.description %></h4>
    </p>
  </div>
   <div class="columns medium-6">
    <p>
        <h4>Comments</h4>
           <% @comments.each do |comment| %>
             <%= react_component('CommentList') %>
           <% end %>
     </p>
  </div>
</div>